@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

section.hero {
  display: grid;
  grid-template-columns: 0.4fr 0.6fr;
}
@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #ededed;
  }
}
