@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #cfe5f9;
  --foreground: #171717;
}
body{
  background-image: url('/opac-back.png');
  max-width: 100%;
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
  top: 0%;
}

section.hero {
  display: grid;
  height: 550px;
  grid-template-columns: 0.6fr 0.6fr;
}

input[type="email"],
input[type="password"],
input[type="text"] {
  display: block;
  padding: 0.5rem;           
  border: 1px solid #D1D5DB;
  background-color: #f1f4f6;    
  width: 100%;               
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 6px;
  border-radius: 0.75rem;
}
input[type="email"]:disabled,
input[type="password"]:disabled,
input[type="text"]:disabled{
  background-color: #828384;
  cursor:not-allowed;
}
section.register {
  height: 600px;
}

button{
  /* display: block; */
  width: 100%;
  margin-top: 2%;
  margin-bottom: 4%;
  color: #ededed;
  font-weight: bold;
  border:  1px solid #d7dde4;
  border-radius: 0.75rem;
  padding: 2px 2px 6px 6px;
}
button[type="submit"], .submit{
  background-color: blue;
}
button[type="submit"]:disabled, .submit:disabled{
  background-color: rgb(93, 93, 210);
  cursor:not-allowed;
}
@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #ededed;
  }
}

@media (max-width: 640px){
  section.hero {
    grid-template-columns: 1fr;
    padding: 1rem; 
    height: auto; 
  }

  /* Adjust font sizes */
  h1 {
    font-size: 1.5rem !important; 
    text-align: center;
  }

  p {
    font-size: 0.875rem;
    text-align: center;
  }

  button {
    align-items: center;
    padding: 0.5rem 1rem; 
  }
}