@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #cfe5f9;
  --foreground: #171717;
}
body{
  background-image: url('/opac-back.png');
  max-width: 100%;
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
  top: 0%;
}
section.hero {
  display: grid;
  height: 550px;
  grid-template-columns: 0.6fr 0.6fr;
}

input[type="email"],
input[type="password"],
input[type="text"],
input[type="tel"] {
  display: block;
  padding: 0.5rem;           
  border: 1px solid #D1D5DB;
  background-color: #f1f4f6;    
  width: 100%;               
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 6px;
  border-radius: 0.75rem;
}
input[type="email"]:disabled,
input[type="password"]:disabled,
input[type="text"]:disabled,
input[type="tel"]:disabled{
  background-color: #c2c4c5;
  cursor:not-allowed;
  color: #6a6a6a;
}
section.register {
  height: 600px;
}
div.tabs > *{
  background-color: #6e7a8d; /* Equivalent to bg-gray-600 */
  color: #ffffff;            /* Equivalent to text-white */
  border-radius: 9999px;    /* Rounded-full */
  padding: 0.5rem 1rem;     /* Equivalent to py-2 px-4 */
  font-size: 1rem;          /* Optional: adjust as needed */
  border: none;             /* Remove default border */
  cursor: pointer;          /* Change cursor to pointer */
  transition: background-color 0.3s ease; /* Smooth transition for background color */
}

div.tabs>*:hover {
  background-color: #2d3748; /* Darker gray for hover effect */
}
div.tabs>*.active{
  background-color: #16418d; 
  color: #ffffff;

}

button{
  /* display: block; */
  width: 100%;
  margin-top: 2%;
  margin-bottom: 4%;
  color: #ededed;
  font-weight: bold;
  border:  1px solid #d7dde4;
  border-radius: 0.75rem;
  padding: 2px 2px 6px 6px;
}
button[type="submit"], .submit{
  background-color: blue;
}
button[type="submit"]:disabled, .submit:disabled{
  background-color: rgb(93, 93, 210);
  cursor:not-allowed;
}
@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #ededed;
  }
}

@media (max-width: 640px){
  section.hero {
    grid-template-columns: 1fr;
    padding: 1rem; 
    height: auto; 
  }

  /* Adjust font sizes */
  h1 {
    font-size: 1.5rem !important; 
    text-align: center;
  }

  p {
    font-size: 0.875rem;
    text-align: center;
  }

  button {
    align-items: center;
    padding: 0.5rem 1rem; 
  }
}